
<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="personaje; else divLoading" class="grid p-3">
    
    <mat-card class="col-6 sm:col-6"> 

        <!-- IMAGEN -->
        <img [src]="personaje.imagen" [alt]="personaje.nombre" mat-card-image /> 

    </mat-card>

    <mat-card class="col-6 sm:col-6 ">

        <mat-card-header>
            <mat-card-title> Ficha del personaje </mat-card-title>
            <mat-card-subtitle> {{ personaje.nombre }} </mat-card-subtitle>
            <mat-card-subtitle> {{ personaje.apellidos }} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <mat-list>
                <mat-list-item> Cumpleaños: {{ personaje.fechaCumple }} </mat-list-item>
                <mat-list-item> Signo Zodiacal: {{ personaje.signoZodiacal.nombre }} </mat-list-item>
                <mat-list-item> Genero: {{ personaje.genero.nombre }} </mat-list-item>
                <mat-list-item> Sexo: {{ personaje.sexo.nombre }} </mat-list-item>

                <mat-list-item *ngIf="personaje.ace.nombre !== ' '"> Romanticismo: {{ personaje.ace.nombre }} </mat-list-item>

                <mat-list-item > Orientación Sexual: {{ personaje.orientacionSexual.nombre }} </mat-list-item>
                <br>
                <div>
                    <h3>Historia: </h3>
                    <p class="historia">{{ personaje.historia }} </p>
                </div>
                <div>
                    <h3>Creador: </h3>
                    <p>  </p>
                </div>
            </mat-list>

            <!-- LIkES -->

             <!-- Se desactiva el botón poruqe ese user ya le ha dado like -->
            <button *ngIf="personaje.userLike" class="btn btn-success" disabled (click)="like(personaje._id, personaje.usuario)">
                <i class="bi bi-hand-thumbs-up-fill"></i>
            </button> 

            <!-- Le puede dar porque no tiene aun like de ese user -->
            <button *ngIf="personaje.userLike === false" mat-button class="btn btn-success" (click)="like(personaje._id, personaje.usuario)">
                <i class="bi bi-hand-thumbs-up-fill"></i>
            </button> 
            
            <!-- UNLIkES -->

            <!-- Le puede dar porque no ha quitado el like anterior -->
            <button *ngIf="personaje.userLike === true" mat-button class="btn btn-danger" (click)="unlike(personaje._id, personaje.usuario)">
                <i class="bi bi-hand-thumbs-down-fill"></i>
            </button> 

            <!-- se bloquea cuando no existe el like -->
            <button *ngIf="personaje.userLike === false" disabled class="btn btn-danger" (click)="unlike(personaje._id, personaje.usuario)">
                <i class="bi bi-hand-thumbs-down-fill"></i>
            </button> 
            
            <button class="btn btn-secondary" (click)="goBack()">
                Volver
            </button>

        </mat-card-content>
        
    </mat-card>

</div> 